In [1]:
from pyspark.sql import SparkSession

In [2]:
#cREating Data Frame 
spark=SparkSession.builder.appName('sample').getOrCreate()
df=spark.read.csv('D:\Data Science\Data Sets\Data Sets\Sales Data.csv',header=True,inferSchema=True)
df.show()

+------------------+-------------+---------+------+
|           Fr_Name|Annual_Fr_Fee|Turn_Over|Emp_No|
+------------------+-------------+---------+------+
|          AB Corps|        10000|    25000|    10|
|            Signet|        12000|    30000|    12|
|             Focus|        15000|    40000|    13|
|          Dry Pizz|        20000|    35000|    10|
|         Good Rays|        22000|    50000|    20|
|      Head Lickers|        23500|    45000|    18|
|       Dress Foods|        25000|    55000|    19|
|             Careo|        18000|    35000|    21|
|             Bingo|        17000|    23000|    11|
|         Crunchies|        10200|    19000|     9|
|       Cheesy King|        35000|    45000|    20|
|           Burgors|        23000|    35000|    16|
|          UrbFoods|        37000|    45000|    23|
|          CareSome|        21000|    23000|    14|
|             Ohana|        13000|    23000|     8|
|Rasputin's Kitchen|        34000|    60000|    18|
|           jimmy's|        20000|    14144|    51|
|           Kaggles|        26798|     7891|    22|
|     The Levetomes|        27888|    42104|    51|
|          Snacking|         7852|    49707|    57|
+------------------+-------------+---------+------+
only showing top 20 rows

In [3]:
#Selecting only a few Columns
df1=df.select('Fr_Name','Annual_Fr_Fee')
df1.show()

+------------------+-------------+
|           Fr_Name|Annual_Fr_Fee|
+------------------+-------------+
|          AB Corps|        10000|
|            Signet|        12000|
|             Focus|        15000|
|          Dry Pizz|        20000|
|         Good Rays|        22000|
|      Head Lickers|        23500|
|       Dress Foods|        25000|
|             Careo|        18000|
|             Bingo|        17000|
|         Crunchies|        10200|
|       Cheesy King|        35000|
|           Burgors|        23000|
|          UrbFoods|        37000|
|          CareSome|        21000|
|             Ohana|        13000|
|Rasputin's Kitchen|        34000|
|           jimmy's|        20000|
|           Kaggles|        26798|
|     The Levetomes|        27888|
|          Snacking|         7852|
+------------------+-------------+
only showing top 20 rows

In [5]:
#showing the top 15 rows
df1.limit(15).show()

+------------+-------------+
|     Fr_Name|Annual_Fr_Fee|
+------------+-------------+
|    AB Corps|        10000|
|      Signet|        12000|
|       Focus|        15000|
|    Dry Pizz|        20000|
|   Good Rays|        22000|
|Head Lickers|        23500|
| Dress Foods|        25000|
|       Careo|        18000|
|       Bingo|        17000|
|   Crunchies|        10200|
| Cheesy King|        35000|
|     Burgors|        23000|
|    UrbFoods|        37000|
|    CareSome|        21000|
|       Ohana|        13000|
+------------+-------------+

In [8]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Sample').getOrCreate()
df=spark.read.csv('D:\Data Science\Data Sets\Data Sets\Sales_null.csv',header=True,inferSchema=True)
df.show()

+------------------+-------------+---------+------+
|           Fr_Name|Annual_Fr_Fee|Turn_Over|Emp_No|
+------------------+-------------+---------+------+
|          AB Corps|        10000|    25000|    10|
|            Signet|        12000|    30000|    12|
|             Focus|        15000|    40000|    13|
|          Dry Pizz|        20000|    35000|    10|
|         Good Rays|        22000|    50000|    20|
|      Head Lickers|         null|    45000|    18|
|       Dress Foods|        25000|    55000|    19|
|             Careo|        18000|    35000|    21|
|             Bingo|        17000|    23000|    11|
|         Crunchies|        10200|    19000|     9|
|       Cheesy King|        35000|    45000|    20|
|              null|        23000|    35000|    16|
|          UrbFoods|        37000|    45000|    23|
|          CareSome|        21000|    23000|    14|
|             Ohana|        13000|    23000|     8|
|Rasputin's Kitchen|        34000|    60000|    18|
|           jimmy's|        20000|     null|    51|
|           Kaggles|        26798|     7891|    22|
|     The Levetomes|        27888|    42104|    51|
|          Snacking|         7852|    49707|    57|
+------------------+-------------+---------+------+
only showing top 20 rows

In [9]:
#drops the rows with Null values in aprticular Columns
df1=df.dropna(subset=['Annual_Fr_Fee','Turn_Over'])
df1.limit(500).show()

+------------------+-------------+---------+------+
|           Fr_Name|Annual_Fr_Fee|Turn_Over|Emp_No|
+------------------+-------------+---------+------+
|          AB Corps|        10000|    25000|    10|
|            Signet|        12000|    30000|    12|
|             Focus|        15000|    40000|    13|
|          Dry Pizz|        20000|    35000|    10|
|         Good Rays|        22000|    50000|    20|
|       Dress Foods|        25000|    55000|    19|
|             Careo|        18000|    35000|    21|
|             Bingo|        17000|    23000|    11|
|         Crunchies|        10200|    19000|     9|
|       Cheesy King|        35000|    45000|    20|
|              null|        23000|    35000|    16|
|          UrbFoods|        37000|    45000|    23|
|          CareSome|        21000|    23000|    14|
|             Ohana|        13000|    23000|     8|
|Rasputin's Kitchen|        34000|    60000|    18|
|           Kaggles|        26798|     7891|    22|
|     The Levetomes|        27888|    42104|    51|
|          Snacking|         7852|    49707|    57|
|     Crashing Gate|        11175|    85362|    34|
|           Forkers|        30916|    42230|    47|
+------------------+-------------+---------+------+
only showing top 20 rows

In [27]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Sample').getOrCreate()
df=spark.read.csv('D:\Data Science\Data Sets\Data Sets\Sales_null.csv',header=True,inferSchema=True)
df.show()

+------------------+-------------+---------+------+
|           Fr_Name|Annual_Fr_Fee|Turn_Over|Emp_No|
+------------------+-------------+---------+------+
|          AB Corps|        10000|    25000|    10|
|            Signet|        12000|    30000|    12|
|             Focus|        15000|    40000|    13|
|          Dry Pizz|        20000|    35000|    10|
|         Good Rays|        22000|    50000|    20|
|      Head Lickers|         null|    45000|    18|
|       Dress Foods|        25000|    55000|    19|
|             Careo|        18000|    35000|    21|
|             Bingo|        17000|    23000|    11|
|         Crunchies|        10200|    19000|     9|
|       Cheesy King|        35000|    45000|    20|
|              null|        23000|    35000|    16|
|          UrbFoods|        37000|    45000|    23|
|          CareSome|        21000|    23000|    14|
|             Ohana|        13000|    23000|     8|
|Rasputin's Kitchen|        34000|    60000|    18|
|           jimmy's|        20000|     null|    51|
|           Kaggles|        26798|     7891|    22|
|     The Levetomes|        27888|    42104|    51|
|          Snacking|         7852|    49707|    57|
+------------------+-------------+---------+------+
only showing top 20 rows

In [23]:
#All columns with one value only
df1=df.fillna(value=999999999,subset=['Turn_Over'])
df1.show()

+------------------+-------------+---------+------+
|           Fr_Name|Annual_Fr_Fee|Turn_Over|Emp_No|
+------------------+-------------+---------+------+
|          AB Corps|        10000|    25000|    10|
|            Signet|        12000|    30000|    12|
|             Focus|        15000|    40000|    13|
|          Dry Pizz|        20000|    35000|    10|
|         Good Rays|        22000|    50000|    20|
|      Head Lickers|         null|    45000|    18|
|       Dress Foods|        25000|    55000|    19|
|             Careo|        18000|    35000|    21|
|             Bingo|        17000|    23000|    11|
|         Crunchies|        10200|    19000|     9|
|       Cheesy King|        35000|    45000|    20|
|              null|        23000|    35000|    16|
|          UrbFoods|        37000|    45000|    23|
|          CareSome|        21000|    23000|    14|
|             Ohana|        13000|    23000|     8|
|Rasputin's Kitchen|        34000|    60000|    18|
|           jimmy's|        20000|999999999|    51|
|           Kaggles|        26798|     7891|    22|
|     The Levetomes|        27888|    42104|    51|
|          Snacking|         7852|    49707|    57|
+------------------+-------------+---------+------+
only showing top 20 rows

In [28]:
#different Fill na value for different column
df1=df.fillna({'Turn_Over':99999,'Annual_Fr_Fee':333333333})
df1.show()

+------------------+-------------+---------+------+
|           Fr_Name|Annual_Fr_Fee|Turn_Over|Emp_No|
+------------------+-------------+---------+------+
|          AB Corps|        10000|    25000|    10|
|            Signet|        12000|    30000|    12|
|             Focus|        15000|    40000|    13|
|          Dry Pizz|        20000|    35000|    10|
|         Good Rays|        22000|    50000|    20|
|      Head Lickers|    333333333|    45000|    18|
|       Dress Foods|        25000|    55000|    19|
|             Careo|        18000|    35000|    21|
|             Bingo|        17000|    23000|    11|
|         Crunchies|        10200|    19000|     9|
|       Cheesy King|        35000|    45000|    20|
|              null|        23000|    35000|    16|
|          UrbFoods|        37000|    45000|    23|
|          CareSome|        21000|    23000|    14|
|             Ohana|        13000|    23000|     8|
|Rasputin's Kitchen|        34000|    60000|    18|
|           jimmy's|        20000|    99999|    51|
|           Kaggles|        26798|     7891|    22|
|     The Levetomes|        27888|    42104|    51|
|          Snacking|         7852|    49707|    57|
+------------------+-------------+---------+------+
only showing top 20 rows

In [31]:
#knowing the data types of columns
df.dtypes

[('Fr_Name', 'string'),
 ('Annual_Fr_Fee', 'int'),
 ('Turn_Over', 'int'),
 ('Emp_No', 'int')]

In [33]:
#casting the datatype
from pyspark.sql.functions import col
df=df.withColumn('Annual_Fr_Fee',col('Annual_Fr_Fee').cast('string'))
df.dtypes

[('Fr_Name', 'string'),
 ('Annual_Fr_Fee', 'string'),
 ('Turn_Over', 'int'),
 ('Emp_No', 'int')]

In [35]:
#joining pyspark data frame
from pyspark.sql import SparkSession

In [37]:
spark=SparkSession.builder.appName('Sample').getOrCreate()
df1=spark.read.csv('D:\Data Science\Data Sets\Employee_data_join.csv',header=True,inferSchema=True)
df2=spark.read.csv('D:\Data Science\Data Sets\Dept_Data_join.csv',header=True,inferSchema=True)
df1.show()
df2.show()

+------+--------+------+-------+
|Emp_Id|Emp_Name|Salary|Dept_Id|
+------+--------+------+-------+
|   100|     Ken| 45000|      2|
|   101|     Sam| 50000|      4|
|   102| Trudell| 60000|      3|
|   103|   Stacy| 80000|      5|
|   104|     Joe|110000|      2|
|   105|     Ben|150000|      1|
|   106|    Coco|200000|      3|
|   107| Brigade|300000|      6|
|   108|  Salmon|500000|      6|
|   109|     Abu|700000|      8|
+------+--------+------+-------+

+-------+--------------+--------------------+
|Dept_Id|     Dept_Name|         Description|
+-------+--------------+--------------------+
|      1|Top Management|        All the boss|
|      2|    Sales Team| The people who sale|
|      3|    Operations|The team fascilit...|
|      4|      Accounts|      The money guys|
|      5|      Strategy|        The planners|
|      6|   House Staff|    The actuals gems|
|      7|       Interns| Soon to be warriors|
+-------+--------------+--------------------+

In [39]:
#method 1
df3=df1.join(df2,on='Dept_Id',how='inner')
df3.show()

+-------+------+--------+------+--------------+--------------------+
|Dept_Id|Emp_Id|Emp_Name|Salary|     Dept_Name|         Description|
+-------+------+--------+------+--------------+--------------------+
|      1|   105|     Ben|150000|Top Management|        All the boss|
|      2|   104|     Joe|110000|    Sales Team| The people who sale|
|      2|   100|     Ken| 45000|    Sales Team| The people who sale|
|      3|   106|    Coco|200000|    Operations|The team fascilit...|
|      3|   102| Trudell| 60000|    Operations|The team fascilit...|
|      4|   101|     Sam| 50000|      Accounts|      The money guys|
|      5|   103|   Stacy| 80000|      Strategy|        The planners|
|      6|   108|  Salmon|500000|   House Staff|    The actuals gems|
|      6|   107| Brigade|300000|   House Staff|    The actuals gems|
+-------+------+--------+------+--------------+--------------------+

In [40]:
#method2
df3=df1.join(df2,df1['Dept_Id']==df2['Dept_Id'],how='inner')
df3.show()

+------+--------+------+-------+-------+--------------+--------------------+
|Emp_Id|Emp_Name|Salary|Dept_Id|Dept_Id|     Dept_Name|         Description|
+------+--------+------+-------+-------+--------------+--------------------+
|   105|     Ben|150000|      1|      1|Top Management|        All the boss|
|   104|     Joe|110000|      2|      2|    Sales Team| The people who sale|
|   100|     Ken| 45000|      2|      2|    Sales Team| The people who sale|
|   106|    Coco|200000|      3|      3|    Operations|The team fascilit...|
|   102| Trudell| 60000|      3|      3|    Operations|The team fascilit...|
|   101|     Sam| 50000|      4|      4|      Accounts|      The money guys|
|   103|   Stacy| 80000|      5|      5|      Strategy|        The planners|
|   108|  Salmon|500000|      6|      6|   House Staff|    The actuals gems|
|   107| Brigade|300000|      6|      6|   House Staff|    The actuals gems|
+------+--------+------+-------+-------+--------------+--------------------+

In [41]:
df4=df3.select('Emp_Id','Emp_Name','Salary','Dept_Name')
df4.show()

+------+--------+------+--------------+
|Emp_Id|Emp_Name|Salary|     Dept_Name|
+------+--------+------+--------------+
|   100|     Ken| 45000|    Sales Team|
|   101|     Sam| 50000|      Accounts|
|   102| Trudell| 60000|    Operations|
|   103|   Stacy| 80000|      Strategy|
|   104|     Joe|110000|    Sales Team|
|   105|     Ben|150000|Top Management|
|   106|    Coco|200000|    Operations|
|   107| Brigade|300000|   House Staff|
|   108|  Salmon|500000|   House Staff|
+------+--------+------+--------------+

+------+--------+------+--------------+
|Emp_Id|Emp_Name|Salary|     Dept_Name|
+------+--------+------+--------------+
|   100|     Ken| 45000|    Sales Team|
|   101|     Sam| 50000|      Accounts|
|   102| Trudell| 60000|    Operations|
|   103|   Stacy| 80000|      Strategy|
|   104|     Joe|110000|    Sales Team|
|   105|     Ben|150000|Top Management|
|   106|    Coco|200000|    Operations|
|   107| Brigade|300000|   House Staff|
|   108|  Salmon|500000|   House Staff|
+------+--------+------+--------------+

In [44]:
df1=spark.read.csv('D:\Data Science\Data Sets\Data Sets\MasterData.csv',header=True,inferSchema=True)
df2=df1.select('OrderID','Amount')
df2.show()

+-------+------+
|OrderID|Amount|
+-------+------+
|  OR100| 25000|
|  OR100|  2000|
|  OR102| 30000|
|  OR103| 45000|
|  OR104|  5000|
|  OR105|  5000|
|  OR105| 15000|
|  OR106|  7000|
|  OR106|  3000|
|  OR106| 20000|
+-------+------+

In [50]:
#Group by
from pyspark.sql.functions import sum
df_group=df2.groupby('OrderID').agg(sum(('Amount'))).alias("New_same")
df_group.show()

+-------+-----------+
|OrderID|sum(Amount)|
+-------+-----------+
|  OR106|      30000|
|  OR105|      20000|
|  OR100|      27000|
|  OR103|      45000|
|  OR104|       5000|
|  OR102|      30000|
+-------+-----------+

In [51]:
#Window function
from pyspark.sql.window import Window
from pyspark.sql import functions as F
window_spec=Window.partitionBy('OrderID').orderBy('Amount')

df_rn=df2.withColumn('Row_rn',F.row_number().over(window_spec))
df_rn.show()

+-------+------+------+
|OrderID|Amount|Row_rn|
+-------+------+------+
|  OR100|  2000|     1|
|  OR100| 25000|     2|
|  OR102| 30000|     1|
|  OR103| 45000|     1|
|  OR104|  5000|     1|
|  OR105|  5000|     1|
|  OR105| 15000|     2|
|  OR106|  3000|     1|
|  OR106|  7000|     2|
|  OR106| 20000|     3|
+-------+------+------+

In [53]:
#lead and lag
window_spec=Window.partitionBy('OrderID').orderBy('Amount')
df_wn=df2.withColumn('LD',F.lead('Amount').over(window_spec)) \
         .withColumn('LG',F.lag('Amount').over(window_spec))
df_wn.show()

+-------+------+-----+----+
|OrderID|Amount|   LD|  LG|
+-------+------+-----+----+
|  OR100|  2000|25000|null|
|  OR100| 25000| null|2000|
|  OR102| 30000| null|null|
|  OR103| 45000| null|null|
|  OR104|  5000| null|null|
|  OR105|  5000|15000|null|
|  OR105| 15000| null|5000|
|  OR106|  3000| 7000|null|
|  OR106|  7000|20000|3000|
|  OR106| 20000| null|7000|
+-------+------+-----+----+