<h1>Build-In Functions</h1>

<b>Len</b>

In [1]:
a=[56,"kinjal",67.9]
b=(673,"Hello","Come On",98,.98)
c={673,"Hello","Come On",98,.98}
d={
    'Kolkata':'700040',
    'Delhi':'100010',
    'Mumbai':'200020',
    'Chennai':'300030',
}
print(len(a),len(b),len(c),len(d))

3 5 5 4

<b>Count</b>

In [2]:
a=(22, 45, 23, 78, 22, 22, 6.89)
b=[22, 45, 23, 78, 22, 22, 6.89]
c={22, 45, 23, 78, 22, 22, 6.89}
d={
    1:'700040',
    2:'100010',
    1:'700040',
    4:'300030',
    1:'700040'
}
print(a.count(22),b.count(22))
#print(c.count(22)) #will throw error
print(d.count('700040')) #will throw error

3 3

AttributeError: 'dict' object has no attribute 'count'

<b>Index</b>

In [3]:
a=(45, 23, 78, 22, 6.89)
b=[45, 22 ,8, 6.89]
c={22, 45, 23, 78, 22, 22, 6.89}

print(a.index(22),b.index(22))
print(c.index(22)) #will throw error

3 1

AttributeError: 'set' object has no attribute 'index'

In [4]:
#If the searching element is present multiple times then it will return 0 as the position

a=(22, 45, 23, 78, 22, 22, 6.89)
print(a.index(22))

0

<b>Sorted</b>

In [5]:
a=(22, 45, 23, 78, 22, 22, 6.89)
b=[22, 45, 23, 78, 22, 22, 6.89]
c={22, 45, 23, 78, 22, 22, 6.89}
d={
    1:'700040',
    2:'100010',
    1:'700040',
    4:'300030',
    1:'700040'
}

print(sorted(a))
print(sorted(b))
print(sorted(c))
print(sorted(d))

[6.89, 22, 22, 22, 23, 45, 78]
[6.89, 22, 22, 22, 23, 45, 78]
[6.89, 22, 23, 45, 78]
[1, 2, 4]

<b>Min, Max, Sum</b>

In [6]:
a=(22, 45, 23, 78, 22, 22, 6.89)
b=[22, 45, 23, 78, 22, 22, 6.89]
c={22, 45, 23, 78, 22, 22, 6.89}
d={
    1:'700040',
    2:'100010',
    1:'700040',
    4:'300030',
    1:'700040'
}

print(min(a),max(a),sum(a))
print(min(b),max(b),sum(b))
print(min(c),max(c),sum(c))
print(min(d),max(d),sum(d))

6.89 78 218.89
6.89 78 218.89
6.89 78 174.89
1 4 7

<b>Abs</b>

In [8]:
a=-9.87
b=3+8j
print(abs(a))
print(abs(b))

9.87
8.54400374531753

<b>All</b>

In [14]:
#returns true if all are true

a = [True, True, True]
x = all(a)
print(x)

b = [True, False, True]
y = all(b)
print(y)

True
False

In [15]:
a=(True,False,True,True)
b=[True,False,True,True]
c={True,False,True,True}
d={
    1:'700040',
    2:'100010',
    1:'700040',
    4:'300030',
    1:'700040'
}
print(all(a),all(b),all(c),all(d))

False False False True

<b>Any</b>

In [19]:
#The any() function returns True if any item in an iterable are true, otherwise it returns False.

a=(False,False,False,False)
b=[True,False,True,True]
c={True,False,True,True}
d={
    1:'700040',
    2:'100010',
    1:'700040',
    4:'300030',
    1:'700040'
}
print(any(a),any(b),any(c),any(d))

False True True True

<b>Ascii</b>

In [21]:
print(ascii("My name is Ståle"))

'My name is St\xe5le with 6443'

In [23]:
c={True,False,True,True}
d={
    1:'700040',
    2:'100010',
    1:'700040',
    4:'300030',
    1:'700040'
}
print(ascii(c))
print(ascii(d))

{False, True}
{1: '700040', 2: '100010', 4: '300030'}

<b>Bin</n>

In [25]:
#prints binary value

print(bin(12))
print(bin('Kinjal'))  #Accepts only an integer value

0b1100

TypeError: 'str' object cannot be interpreted as an integer

<b>Bool</b>

In [26]:
#The object will always return True, unless an object is empty, like [], (), {}, False, 0,None

a=(False,False,False,False)
b=[True,False,True,True]
c={True,False,True,True}
d={
    1:'700040',
    2:'100010',
    1:'700040',
    4:'300030',
    1:'700040'
}
print(bool(a),bool(b),bool(c),bool(d))

True True True True

<b>Byte Array</b>

In [27]:
print(bytearray(4))

bytearray(b'\x00\x00\x00\x00')

In [17]:
#The encoding is a must for string

arr1=bytearray("Kinjal is a good boy",'utf-8')
arr2=bytearray("Kinjal is a good boy",'utf-16')
x=[32,99]  #If the list consist of string or float it will throw error

print(len(arr1))
print(len(arr2))
print(bytearray("Kinjal is a good boy",'utf-8'))
print(bytearray("Kinjal is a good boy",'utf-16'))
print(bytearray(x))

20
42
bytearray(b'Kinjal is a good boy')
bytearray(b'\xff\xfeK\x00i\x00n\x00j\x00a\x00l\x00 \x00i\x00s\x00 \x00a\x00 \x00g\x00o\x00o\x00d\x00 \x00b\x00o\x00y\x00')
bytearray(b' c')

In [22]:
str1 = 'KinjalÖrRoy'
 
# Giving ascii encoding and ignore error
print(bytes(str1, 'ascii', errors='ignore'))
print(bytes(str1, 'ascii', errors='replace'))

b'KinjalrRoy'
b'Kinjal?rRoy'

In [12]:
arr=bytearray("Kinjal is a good boy",'utf-8')
for i in range(len(arr)):
    print(arr[i])
    i=i+1

75
105
110
106
97
108
32
105
115
32
97
32
103
111
111
100
32
98
111
121

<b>Bytes</b>

In [18]:
#The difference between bytes() and bytearray() is that bytes() returns an object that cannot be modified, and bytearray() 
#returns an object that can be modified.

# initializing string
str1 = 'KinjalÖrRoy'
 
# Giving ascii encoding and ignore error
print("Byte conversion with ignore error : " +
      str(bytes(str1, 'ascii', errors='ignore')))
 
# Giving ascii encoding and replace error
print("Byte conversion with replace error : " +
      str(bytes(str1, 'ascii', errors='replace')))
 
# Giving ascii encoding and strict error
# throws exception
print("Byte conversion with strict error : " +
      str(bytes(str1, 'ascii', errors='strict')))

Byte conversion with ignore error : b'KinjalrRoy'
Byte conversion with replace error : b'Kinjal?rRoy'

UnicodeEncodeError: 'ascii' codec can't encode character '\xd6' in position 6: ordinal not in range(128)

<b>Callable</b>

In [28]:
def onlyReturn():
    return 5

a=onlyReturn
print(callable(a))
print(callable(onlyReturn))
print(callable(onlyReturn()))

True
True
False

In [33]:
#classes are also callable
class forPrint:
    def __call__(self):
        print("Kinjal is a good boy")
        
print(callable(forPrint))

#to prove it is callable
x=forPrint()
x()

True
Kinjal is a good boy

<b>Char</b>

In [9]:
#pass the unicode value and it will return the character

a=chr(100)
print(a)

d

<b>Compile</b>

In [19]:
#you can write the entire code and keep it in the variable and then run it on the go

srccode='x=10\ny=20\nz=x*y\nprint("The multiplication value is:" +str(z))'

execcode=compile(srccode,'multistring','exec')
exec(execcode)

The multiplication value is:200

In [7]:
#running the code from another python file

f = open('C:\\Users\Kinjal Roy\\My_test.py', 'r')
temp = f.read()
f.close()
 
code = compile(temp, 'My_test.py', 'exec')
exec(code)

Kinjal is a good boy
Multiplication is good for Health   6

<b>Dict Function</b>

In [1]:
# passing keyword arguments to dict() method
myDict = dict(a=1, b=2, c=3, d=4)
 
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

<b>Enumerate</b>

In [7]:
a=['kinjal','kunal','hari']
b=enumerate(a)
c=enumerate(a,5) #starting number as argument

print(list(b))
print(list(c))

[(0, 'kinjal'), (1, 'kunal'), (2, 'hari')]
[(5, 'kinjal'), (6, 'kunal'), (7, 'hari')]

<b>Eval</b>

In [13]:
expression = 'x*(x+1)*(x+2)'
print(expression)

x = 3

result = eval(expression)
print(result)

x*(x+1)*(x+2)
60

<b>Filter</b>

In [17]:
# a list contains both even and odd numbers.
seq = [0, 1, 2, 3, 5, 8, 13]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

<b>Format</b>

In [20]:
a='Kinjal'
b=35

print("Hi ! My name is {} and I am {} years old"
      .format(a, b))

Hi ! My name is Kinjal and I am 35 years old

In [23]:
print('I designed this rhyme to explain in due time\nAll I know')
print('Time is a \tvaluable thing')

I designed this rhyme to explain in due time
All I know
Time is a 	valuable thing

In [28]:
print('Watch it fly by\as the pendulum swings') #doesn'r print /
print('Watch it fly by\\as the pendulum swings')

Watch it fly bys the pendulum swings
Watch it fly by\as the pendulum swings

In [29]:
print('It doesn\'t even matter how hard you try')

It doesn't even matter how hard you try

In [34]:
print('It is so "unreal"')

It is so "unreal"

In [35]:
print("Every {3} should know the use of {2} {1} programming and {0}"
      .format("programmer", "Open", "Source", "Operating Systems"))

Every Operating Systems should know the use of Source Open programming and programmer

In [3]:
print("%20s" % ('geeksforgeeks', ))  #20spaces before
print("%-20s" % ('Interngeeks', ))  #20 spaces after
print("%.5s" % ('Interngeeks', ))  #percent of string to be printed

       geeksforgeeks
Interngeeks
Interng

In [4]:
#positional values for string

type = 'bug'

result = 'troubling'

print('I wondered why the program was %s me. Then\
it dawned on me it was a %s .' % (result, type))

I wondered why the program was troubling me. Thenit dawned on me it was a bug .

In [5]:
#positional values with integers ans string

match = 12000

site = 'amazon'

print("%s is so useful. I tried to look\
up mobile and they had a nice one that cost %d rupees." % (site, match))

amazon is so useful. I tried to lookup mobile and they had a nice one that cost 12000 rupees.

In [6]:
#Using dictionary to stuff values

introduction = 'My name is {first_name} {middle_name} {last_name} AKA the {aka}.'
full_name = {
    'first_name': 'Tony',
    'middle_name': 'Howard',
    'last_name': 'Stark',
    'aka': 'Iron Man',
}

# Notice the use of "**" operator to unpack the values.
print(introduction.format(**full_name))

My name is Tony Howard Stark AKA the Iron Man.

<b>Iter()</b>

In [9]:
lis1 = [1, 2, 3, 4, 5]
# converting list using iter()
lis1 = iter(lis1)
 
# prints this
print("Values at 1st iteration : ")
for i in range(0, 5):
    print(next(lis1))
 
# doesn't print this
print("Values at 2nd iteration : ")
for i in range(0, 5):
    print(next(lis1))

Values at 1st iteration :
1
2
3
4
5
Values at 2nd iteration :

StopIteration:

<b>List()</b>

In [10]:
# initializing a string
string = "ABCDEF"

# using list() function to create a list
list1 = list(string)

# printing list1
print(list1)

['A', 'B', 'C', 'D', 'E', 'F']

In [11]:
# initializing a tuple
tuple1 = ('A', 'B', 'C', 'D', 'E')

# using list() function to create a list
list1 = list(tuple1)

# printing list1
print(list1)

['A', 'B', 'C', 'D', 'E']

In [12]:
# initializing a set
set1 = {'A', 'B', 'C', 'D', 'E'}


# initializing a dictionary
dictionary = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}


# using list() to create a list
list1 = list(set1)
list2 = list(dictionary)

# printing
print(list1)
print(list2)

['B', 'C', 'E', 'D', 'A']
['A', 'B', 'C', 'D', 'E']

<b>Map()</b>

In [13]:
# Python program to demonstrate working
# of map.

# Return double of n
def addition(n):
	return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [15]:
# Double all numbers using map and lambda

numbers = (1, 2, 3, 4)
result = map(lambda x: x * x, numbers)
print(list(result))

[1, 4, 9, 16]

<b>Max() and Min()</b>

In [16]:
var1 = "geeks"
var2 = "for"
var3 = "geek"

max_val = max(var1, var2, var3,key=len)
print(max_val)

geeks

In [18]:
# function to find minimum and maximum position in list
def minimum(a, n):

    # inbuilt function to find the position of maximum
    maxpos = a.index(max(a))

    # printing the position
    print ("The maximum is at position", maxpos + 1)

# driver code
a = [3, 4, 1, 3, 4, 5]
minimum(a, len(a))

The maximum is at position 6

In [19]:
string = "GeeksforGeeks"

max_val = max(string)
print(max_val)

s

In [20]:
string_list = ["Geeks", "for", "Geek"]

max_val = max(string_list, key=len)
print(max_val)

Geeks

<b>Range()</b>

In [21]:
# range (stop) takes one argument.
# range (start, stop) takes two arguments.
# range (start, stop, step) takes three arguments.

# printing first 6
# whole number
for i in range(6):
	print(i, end=" ")
print()

0 1 2 3 4 5

In [22]:
# printing a natural
# number from 5 to 20
for i in range(5, 20):
	print(i, end=" ")

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [23]:
for i in range(0, 10, 2):
	print(i, end=" ")
print()

0 2 4 6 8

<b>Explode()</b>

In [75]:
import numpy as np

df = pd.DataFrame({'A': [[0, 1, 2], 'foo', [], [3, 4]],
                   'B': 1,
                   'C': [['a', 'b', 'c'], np.nan, [], ['d', 'e']]})
display(df)

           A  B          C
0  [0, 1, 2]  1  [a, b, c]
1        foo  1        NaN
2         []  1         []
3     [3, 4]  1     [d, e]

In [76]:
df.explode('A')

     A  B          C
0    0  1  [a, b, c]
0    1  1  [a, b, c]
0    2  1  [a, b, c]
1  foo  1        NaN
2  NaN  1         []
3    3  1     [d, e]
3    4  1     [d, e]

<b>Split()</b>

In [79]:
a="Ram,Shyam,Jadu"
b=a.split(',')
print(b)

['Ram', 'Shyam', 'Jadu']

In [84]:
#Split on Dataframe

import pandas as pd
df=pd.read_csv("D:\Data Science\Data Sets\Employee Array.csv")
display(df['Office_Spread'])


display(df['Office_Spread'].str.split(','))

0        Del,Kol
1    Del,Kol,Mum
2            Kol
3        Mum,Del
Name: Office_Spread, dtype: object

0         [Del, Kol]
1    [Del, Kol, Mum]
2              [Kol]
3         [Mum, Del]
Name: Office_Spread, dtype: object

<b>Ravel()</b>

In [6]:
#Ravel will work on array not list

import numpy as np
a=['Rahul',['Kinjal','Koyal'],'Keya'] #this is a list
b=np.array(a,dtype=object)  #this is an array
out = b.ravel()
print(out)

['Rahul' list(['Kinjal', 'Koyal']) 'Keya']

In [5]:
np.array(b).flatten().tolist()

['Rahul', ['Kinjal', 'Koyal'], 'Keya']

In [22]:
import numpy as np  
x = np.array([[1, 3, 5], [11, 35, 56]])  
y=np.ravel(x) #works on array and returns array

print(y) 
y

[ 1  3  5 11 35 56]

array([ 1,  3,  5, 11, 35, 56])

<b>Stack()</b>

In [26]:
#works on Dataframe
import pandas as pd
df = pd.DataFrame([[0, 1,34], [2, 3,39]],index=['cat', 'dog'],columns=['weight', 'height','breadth'])
display(df)
display(df.stack())

     weight  height  breadth
cat       0       1       34
dog       2       3       39

cat  weight      0
     height      1
     breadth    34
dog  weight      2
     height      3
     breadth    39
dtype: int64

<b>Reset_Index()</b>

In [28]:
#mind that cat and dog values aren't values. They are index here
df = pd.DataFrame([[0, 1,34], [2, 3,39]],index=['cat', 'dog'],columns=['weight', 'height','breadth'])
display(df)
df.stack().reset_index()

     weight  height  breadth
cat       0       1       34
dog       2       3       39

  level_0  level_1   0
0     cat   weight   0
1     cat   height   1
2     cat  breadth  34
3     dog   weight   2
4     dog   height   3
5     dog  breadth  39

<b>Slice()</b>

In [29]:
String = 'Hello World'
slice_obj = slice(5,11)
print(String[slice_obj])

 World