<h1>Numeric Data Types</h1>

In [24]:
a=5
b=1.8
c=6+8j
d=True
print(type(a),type(b),type(c),type(d))

<class 'int'> <class 'float'> <class 'complex'> <class 'bool'>

<b>Type Conversions</b>

In [31]:
e=int(b)
f=float(a)
g=str(b)
print(e, type(e))
print(f, type(f))
print(g, type(g))
h=float(g)

i=f>e #comparison between int and float is legit
j=int(i)
print(h, type(h))
print(i, type(i))
print(j, type(j))

1 <class 'int'>
5.0 <class 'float'>
1.8 <class 'str'>
1.8 <class 'float'>
True <class 'bool'>
1 <class 'int'>

<h1>Sequencial Data types</h1>

<b>List and Tuples</b>

In [81]:
#Both List and Tuple supoprt non-heterogeneous dataset

a=[23,54,43]
b=[23,'Ken',4.5]
c=(23,14,23)
d=(23,'Ken',4.5)

print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

[23, 54, 43] <class 'list'>
[23, 'Ken', 4.5] <class 'list'>
(23, 14, 23) <class 'tuple'>
(23, 'Ken', 4.5) <class 'tuple'>

In [82]:
#Comparing List

a=[23,54,43]
b=[45,23,9]
c=a>b
print(c,type(c))

False <class 'bool'>

<b>String</b>

In [48]:
a="Kinjal"
b='roy'
print(a,type(a))
print(b,type(b))
print(a[2],b[2])

Kinjal <class 'str'>
roy <class 'str'>
n y

<b>Range</b>

In [60]:
a=range(10)
print(a,type(a))

b=list(a)
print(b,type(b))

#Range with 2 arguments. 1st one is the starting point, 2nd one is ending point
c=range(2,19)
d=list(c)
print(d,type(d))

#Range with 3 arguments. 1st one is the starting point, 2nd one is ending point, 3rd is the step
e=range(2,27,10)
f=list(e)
print(f,type(f))

#Range with 3 arguments but negetive step
g=range(27,2,-10)
h=list(g)
print(h,type(h))

#Range with 3 arguments but negetive step with irrational logic
i=range(2,27,-10)
j=list(i)
print(j,type(j))

range(0, 10) <class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18] <class 'list'>
[2, 12, 22] <class 'list'>
[27, 17, 7] <class 'list'>
[] <class 'list'>

In [66]:
print(list(range(10,9,1)))

[]

<b>Set</b>

In [22]:
a=set(["a",2567,12.9])
print(a,type(a))
print(a[1]) #not valid

{2567, 12.9, 'a'} <class 'set'>

TypeError: 'set' object is not subscriptable

In [23]:
#another way to define set

a={"kinjal",7868,9.9}
print(a,type(a))

{9.9, 'kinjal', 7868} <class 'set'>

<b>Dictionary</b>

In [67]:
a={
    'Kolkata':'700040',
    'Delhi':'100010',
    'Mumbai':'200020',
    'Chennai':'300030',
}
print(a,type(a))

{'Kolkata': '700040', 'Delhi': '100010', 'Mumbai': '200020', 'Chennai': '300030'} <class 'dict'>

In [80]:
print(a.keys())
print(a.values())
a['Delhi']

dict_keys(['Kolkata', 'Delhi', 'Mumbai', 'Chennai'])
dict_values(['700040', '100010', '200020', '300030'])

'100010'

<h1>Type conversion between Sequencial Data types</h1>

In [85]:
#List and Tuples are interchangeable using inbuild functions

a=[23,387,29]
b=tuple(a)

c=(34,28,48)
d=list(c)

print(b,type(b))
print(d,type(d))

(23, 387, 29) <class 'tuple'>
[34, 28, 48] <class 'list'>

In [90]:
#Dictionary can be changed to List and Tuple both using and not using the .keys/.values
a={
    'Kolkata':'700040',
    'Delhi':'100010',
    'Mumbai':'200020',
    'Chennai':'300030',
}

b=list(a)
c=tuple(a)
d=list(a.values())
e=tuple(a.values())
f=list(a.keys())
g=list(a.keys())
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))
print(f, type(f))
print(g, type(g))

['Kolkata', 'Delhi', 'Mumbai', 'Chennai'] <class 'list'>
('Kolkata', 'Delhi', 'Mumbai', 'Chennai') <class 'tuple'>
['700040', '100010', '200020', '300030'] <class 'list'>
('700040', '100010', '200020', '300030') <class 'tuple'>
['Kolkata', 'Delhi', 'Mumbai', 'Chennai'] <class 'list'>
['Kolkata', 'Delhi', 'Mumbai', 'Chennai'] <class 'list'>

In [21]:
#Type conversion from string to tuple or List

a="Kinjal"
b=list(a)
c=tuple(a)
d=set(a)
print(b,type(b))
print(c,type(c))
print(d,type(d))

['K', 'i', 'n', 'j', 'a', 'l'] <class 'list'>
('K', 'i', 'n', 'j', 'a', 'l') <class 'tuple'>
{'i', 'j', 'n', 'K', 'l', 'a'} <class 'set'>

In [15]:
a=set(["a",2567,12.9])
b=list(a)
c=tuple(a)

print(b,type(b))
print(c,type(c))

[2567, 12.9, 'a'] <class 'list'>
(2567, 12.9, 'a') <class 'tuple'>

<h1>Mutability and Extendibility of Lists and Tuples</h1>

In [ ]:
#Mutability Test

a=[23,'Kinjal',36.7]
print(a,type(a))
b=(2534,'Lucknow',45.67)
print(b,type(b))
a[1]='Kim'
b[1]='Kenjo'  #This will throw error because it is immutable

print(a,type(a))
print(b,type(b))

In [11]:
#Extendibility

a=[23,'Kinjal',36.7]
print(a,type(a))
a.append('Hi')
print(a,type(a))
#a.append('Hello','Hell') #takes only one value to append
print(a,type(a))

b=(2534,'Lucknow',45.67)
print(b,type(b))
#b.append(78) #you can't use append to add more values to a tuple
print(b,type(b))

#One way to append data in Tuple
c=(78,'Going')
b=b+c
print(b,type(b))

[23, 'Kinjal', 36.7] <class 'list'>
[23, 'Kinjal', 36.7, 'Hi'] <class 'list'>
[23, 'Kinjal', 36.7, 'Hi'] <class 'list'>
(2534, 'Lucknow', 45.67) <class 'tuple'>
(2534, 'Lucknow', 45.67) <class 'tuple'>
(2534, 'Lucknow', 45.67, 78, 'Going') <class 'tuple'>